<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="3 seconds">

    <!-- Define the log format and output. Here, we'll log to the console. -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set the default log level to INFO. -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Reduce verbosity of io.undertow by setting its log level to WARN. -->
    <logger name="io.undertow" level="INFO" />

</configuration>
